<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tablero</title>
</head>
<body>
    <table border="2" th:each="t :${movimiento}">
        <tr >
            <td>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 1 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 1 && t.posicionColumna=1}"></span>
            </td>

            <td>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 1 && t.posicionColumna=2}"></span>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 1 && t.posicionColumna=2}"></span>
            </td>
            <td>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 1 && t.posicionColumna=3}"></span>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 1 && t.posicionColumna=3}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 2 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 2 && t.posicionColumna=1}"></span>
            </td>
            <td>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
            </td>
            <td>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 4 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 4 && t.posicionColumna=1}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
            </td>
            <td>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
            </td>
            <td>
                <span th:if="${t.idJugador == 1 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
                <span th:if="${t.idJugador == 2 && t.posicionfila == 3 && t.posicionColumna=1}"></span>
            </td>
        </tr>
    </table>
</body>
</html>