<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tablero</title>
</head>
<body>
    <table border="2">
        <tr>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 1 && t.posicionFila == 1 && t.posicionColumna==1}">X</td>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 1 && t.posicionFila == 1 && t.posicionColumna==2}">X</td>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 1 && t.posicionFila == 1 && t.posicionColumna==3}">X</td>
        </tr>

        <tr>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 1 && t.posicionFila == 2 && t.posicionColumna==1}">X</td>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 1 && t.posicionFila == 2 && t.posicionColumna==2}">X</td>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 1 && t.posicionFila == 2 && t.posicionColumna==3}">X</td>
        </tr>

        <tr>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 1 && t.posicionFila == 3 && t.posicionColumna==1}">X</td>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 1 && t.posicionFila == 3 && t.posicionColumna==2}">X</td>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 1 && t.posicionFila == 3 && t.posicionColumna==3}">X</td>
        </tr>

        <tr>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 2 && t.posicionFila == 1 && t.posicionColumna==1}">O</td>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 2 && t.posicionFila == 1 && t.posicionColumna==2}">O</td>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 2 && t.posicionFila == 1 && t.posicionColumna==3}">O</td>
        </tr>

        <tr>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 2 && t.posicionFila == 2 && t.posicionColumna==1}">O</td>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 2 && t.posicionFila == 2 && t.posicionColumna==2}">O</td>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 2 && t.posicionFila == 2 && t.posicionColumna==3}">O</td>
        </tr>

        <tr>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 2 && t.posicionFila == 3 && t.posicionColumna==1}">O</td>
            <td th:each="t :${movimiento}" th:if="${t.idJugador == 2 && t.posicionFila == 3 && t.posicionColumna==2}">O</td>
            <td th:each="t :${movimiento}"  th:if="${t.idJugador == 2 && t.posicionFila == 3 && t.posicionColumna==3}">O</td>
        </tr>

    </table>
</body>
</html>